[submodule ".submodules/fzf"]
	path = .submodules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".submodules/ohmyzsh"]
	path = .submodules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule ".tmux/plugins/tmux-remote"]
	path = .tmux/plugins/tmux-remote
	url = https://github.com/danyim/tmux-remote.git
[submodule ".tmux/plugins/vim-tmux-navigator"]
	path = .tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".tmux/plugins/tmux-ssh-split"]
	path = .tmux/plugins/tmux-ssh-split
	url = https://github.com/pschmitt/tmux-ssh-split.git
[submodule ".tmux/plugins/vim-tmux-focus-events"]
	path = .tmux/plugins/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule ".tmux/plugins/extrakto"]
	path = .tmux/plugins/extrakto
	url = https://github.com/laktak/extrakto.git
[submodule ".tmux/plugins/tmux-open"]
	path = .tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
