[user]
  email = "acadx0@gmail.com"
  name = "rok"

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    side-by-side = true


[interactive]
    diffFilter = delta --color-only --features=interactive

[github]
  user = aca

[include]
  path = ~/.gitconfig.local

[core]
  editor = nvim
  excludesFile = ~/.gitignore_global
  sparseCheckout = true
  quotepath = false
	hooksPath = .githooks
        
[alias]
  co = checkout
  rb = rebase -i
  st = status
  cm = commit
  pl = pull
  ps = push
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all
  ad = add
  tg = tag -n
  df = diff
  br = branch
  unstage = reset HEAD --

[merge]
  tool = vimdiff

[web]
  browser = chrome

[pull]
	ff = only

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[sendemail.linux]
    tocmd ="`pwd`/scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nol"
    cccmd ="`pwd`/scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nom"

[credential]
	helper = cache --timeout=26280000
[status]
	submoduleSummary = false
