[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    ; side-by-side = true
    navigate = true
    file-decoration-style = none
    diff-highlight = true
  ; file-style = omit

[interactive]
    diffFilter = delta --color-only

[github]
	user = aca

[color]
  ui = auto
[color "status"]
  header = cyan
  branch = white
  changed = yellow
  added = green
  untracked = cyan

[include]
  path = ~/.gitconfig.local

[includeIf "gitdir:~/src/github.tossinvest.bz/tossinvest/"]
  path = ~/.gitconfig.tossinvest

[core]
  editor = nvim
  excludesFile = ~/.gitignore_global
  sparseCheckout = true
  quotepath = false
	; hooksPath = .githooks
  ; pager = git-split-diffs --color | less -RFX
  filemode = false
        
[alias]
  co = checkout
  rb = rebase -i
  st = status
  cm = commit
  comit = commit
  pl = pull
  ps = push
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all
  ad = add
  tg = tag -n
  df = diff
  br = branch
  unstage = reset HEAD --

[merge]
  tool = vimdiff

[web]
  browser = chrome

[pull]
	ff = only

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[sendemail.linux]
    tocmd ="`pwd`/scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nol"
    cccmd ="`pwd`/scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nom"

[credential]
	helper = cache --timeout 604800

[status]
	submoduleSummary = false
[diff]
	ignoreSubmodules = dirty
    colorMoved = default

; [url "ssh://git@git.sr.ht/"]
;     insteadOf = https://git.sr.ht/

; https://stackoverflow.com/questions/6089294/why-do-i-need-to-do-set-upstream-all-the-time
[push]
	default = current
[receive]
	denyCurrentBranch = updateInstead
[advice]
    setUpstreamFailure = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
