[user]
  email = "acadx0@gmail.com"
  name = "aca"

[github]
  user = aca

[include]
  path = ~/.gitconfig.local


[core]
  editor = nvim
  excludesFile = ~/.gitignore_global
  sparseCheckout = true
  quotepath = false
        
[alias]
  co = checkout
  rb = rebase -i
  st = status
  cm = commit
  pl = pull
  ps = push
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all
  ad = add
  tg = tag -n
  df = diff
  br = branch
  unstage = reset HEAD --

[merge]
  tool = vimdiff

[web]
  browser = chrome

[pull]
	ff = only
