span.TridactylHint > * {
    font-size: 10px !important;

}

span.TridactylHint  {
    font-size: 10px !important;
}

:root {
  --tridactyl-cmdl-font-size: 1rem;
  --tridactyl-cmdl-line-height: 1;
  --tridactyl-font-size: 12pt;
  --tridactyl-small-font-size: 10px;

  --tridactyl-hint-active-fg: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;
}

.TridactylHintElem { 
  background-color: unset !important;
  color: black; !important 
} 

.TridactylHintActive { 
  background-color: unset !important;
  color: black !important;
}

.TridactylHintElem {
    background-color: [insert color] !important;
    outline: [insert color] !important;
}

.TridactylHintActive {
	background-color: [insert color] !important;
}


